<app-navbar></app-navbar>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="features1-9" style="background-color: rgb(193, 193, 193); height: -webkit-fill-available;">
    
    
    <div class="mbr-section__container container mbr-section__container--std-top-padding" style="padding-top: 93px;">
        <div class="mbr-section__row row">
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="../assets/images/pilates-logo-600x564.jpg" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text">PILATES</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>Čas Pilatesa utiče na jačanje centralnih struktura (cora), trupa i karlice, povećava se fleksibilnost tela, poboljšava se celokupno držanje tela. Može se smanjiti napetost u oblasti leđa, kukova i ramena. Telo postaje skladnije i vitkije, mišići se izdužuju. <br>​Namenjen je onima koji žele da doprinesu razvijanju bolje fizičke forme, boljeg zdravstvenog stanja, dublje povezanosti uma i tela.<br></p>
                    </div>
                </div>
                
            </div>
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="../assets/images/g-03032012-054402logo-getfit-600x330.jpg" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text"><br><br><br><br><br><br>GET FIT</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>Get Fit je program koji se zasniva na novom popularnom načinu treniranja. Funkcionalni trening osmišljen tako da Vas brzo dovede do FIT forme.<br>​Namenjen je onima koje žele da rade na svojim problematičnim zonama, brzo istope masti, poboljšaju svoju kondiciju i dovedu svoje telo do odličnog izgleda.<br></p>
                    </div>
                </div>
                
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="../assets/images/crossfit-600x450.jpg" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text"><br><br><br>POWER CROSS</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>Power Cross je veoma intenzivan način treniranja koji se sastoji od kondicionih vežbi sa sopstvenim telom i vežbi sa tegovima, girjama, džakovima, medicinkama. Vežbe su raspoređene po principu stanica. Određeni vremenski interval radi se jedna vežba, a nakon kraja radnog intervala prelazi se na drugu vežbu, već utvrđenim redosledom. <br>Namenjen je onima koji žele da utiču na građu tela, opštu snagu i kondiciju, eksplozivnost, motoriku i koordinaciju.<br></p>
                    </div>
                </div>
                
            </div>
            
            <div class="mbr-section__col col-xs-12 col-md-3 col-sm-6">
                <div class="mbr-section__container mbr-section__container--center mbr-section__container--middle">
                    <figure class="mbr-figure"><img src="../assets/images/images-1-600x489.png" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-section__container mbr-section__container--middle">
                    <div class="mbr-header mbr-header--reduce mbr-header--center mbr-header--wysiwyg">
                        <h3 class="mbr-header__text"><br><br>WELLNESS I SPA</h3>
                    </div>
                </div>
                <div class="mbr-section__container mbr-section__container--last" style="padding-bottom: 93px;">
                    <div class="mbr-article mbr-article--wysiwyg">
                        <p>Opustite svoje telo uz naše najpremljenije spa i wellness centre, sa 5 bazena različite temperature. Dajte svom telo odmor posle napornog dana.</p>
                    </div>
                </div>
                
            </div>
            
            
            
        </div>
    </div>
</section>