 <div class="form-group">
      <label class="control-label">Name</label>:
      <label class="control-label">{{user.name}}</label>
    </div>
    <div class="form-group">
      <label class="control-label">Surname</label>
      <label class="control-label">{{user.surname}}</label>
    </div>
    <div class="form-group">
      <label class="control-label">cardNumber</label>
      <label class="control-label">{{user.cardNumber}}</label>
    </div>
    <div>
      <!--<a class="btn btn-success" routerLink="['/edit']">Edit</a>-->
      </div>