<app-navbar></app-navbar>
<section class="mbr-section mbr-section--relative mbr-parallax-background" id="msg-box5-a" style="background-image: url(../assets/images/mbr-1-2000x1328.jpg);height: -webkit-fill-available;">
    
    <div class="mbr-section__container mbr-section__container--isolated container" style="padding-top: 93px; padding-bottom: 93px;">
        <div class="row">
            <div class="mbr-box mbr-box--fixed mbr-box--adapted">
                <div class="mbr-box__magnet mbr-box__magnet--top-right mbr-section__left col-sm-6 image-size" style="width: 50%;">
                    <figure class="mbr-figure mbr-figure--adapted mbr-figure--caption-inside-bottom mbr-figure--full-width"><img src="../assets/images/mbr-1400x929.jpg" class="mbr-figure__img"></figure>
                </div>
                <div class="mbr-box__magnet mbr-class-mbr-box__magnet--center-left col-sm-6 content-size mbr-section__right">
                    <div class="mbr-section__container mbr-section__container--middle">
                        <div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
                            <h3 class="mbr-header__text"></h3>
                            
                        </div>
                    </div>
                    <div class="mbr-section__container mbr-section__container--middle">
                        <div class="mbr-article mbr-article--auto-align mbr-article--wysiwyg">TERETANA TIM plus fitness &amp; wellbeing centar sa tradicijom od preko dvadeset dve godine omogućava Vam da se u prijatnom ambijentu relaksirate po najsavremenijim fitness standardima na oko 500 kvadratnih metara, podeljenih na Gym, Cardio i Fitness zonu.<div>Nudimo Vam neke od najsavremenijih fitness i aerobic programa, kao i mogućnost personalnog treninga na Technogym fitness opremi.</div><div>Naši instruktori su edukovani po savremenim fitness standardima i nosioci su licenci svetskih federacija koje su među najvalidnijima u fitness industriji (FISAF, STOTT...)</div><div>Uz osmeh i pozitivne emocije, uživaćete u našim programima dok ostvarujete očekivane rezultate.</div></div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</section>

