<app-navbar></app-navbar>
<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="contacts2-c" style="background-color: rgb(60, 60, 60); height: -webkit-fill-available;">
    <br><br><br><br><br><br><br><br>
    <div class="mbr-section__container container">
        <div class="mbr-contacts mbr-contacts--wysiwyg row" style="padding-top: 45px; padding-bottom: 45px;">
            <div class="col-sm-6">
                <figure class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--no-bg">
                    <div class="mbr-figure__map mbr-figure__map--short"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:EkDQodGC0LXQstC1INCi0L7QtNC-0YDQvtCy0LjRm9CwIDMyLCDQkdC10L7Qs9GA0LDQtCwg0KHRgNCx0LjRmNCw" allowfullscreen=""></iframe></div>
                </figure>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <p class="mbr-contacts__text"><strong>ADDRESS</strong><br>Steve Todorovića 32<br>Banovo brdo, Beograd<br><br>
<strong>CONTACTS</strong><br>
Email:&nbsp;teretananfc@gmail.com<br>
Phone: +381611111111</p>
                    </div>
                    <div class="col-sm-6"><ul class="mbr-contacts__list"></ul></div>
                </div>
            </div>
        </div>
    </div>
</section>