
<app-navbar></app-navbar>
<!--
<section class="engine">-->
  <section class="mbr-figure mbr-figure--wysiwyg mbr-figure--full-width mbr-figure--caption-inside-bottom mbr-after-navbar" id="image1-3">

    <div><a href="index.html"><img src="../assets/images/mbr-1400x787.jpg" class="mbr-figure__img"></a></div>
    
</section>

<section class="mbr-slider mbr-section mbr-section--no-padding carousel slide" data-ride="carousel" data-wrap="true" data-interval="2000" id="slider-7" style="background-color: rgb(0, 0, 0);">
    <div class="mbr-section__container">
        <div>
            <!--<ol class="carousel-indicators">
                <li data-app-prevent-settings="" data-target="#slider-71" data-slide-to="0" class="active"></li><li data-app-prevent-settings="" data-target="#slider-72" data-slide-to="1"></li><li data-app-prevent-settings="" data-target="#slider-73" class="" data-slide-to="2"></li>
            </ol>-->
            <div class="carousel-inner" role="listbox">
                <div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height active" style="background-image: url(../assets/images/mbr-2000x1334.jpg);">
                    <div class="mbr-box__magnet mbr-box__magnet--center-right mbr-box__magnet--sm-padding" data-target="#slider-71" id="slider-71">
                                            
                        <div class=" container">
                            
                            <div class="row">
                                <div class=" col-md-6 col-md-offset-5">  

                                <div class="mbr-hero">
                                    <h1 class="mbr-hero__text">IT'S GYM TIME<br><br></h1>

                                    <p class="mbr-hero__subtext"><strong>LET'S GO.WE ARE READY</strong><br><strong> </strong><br><strong>TO FIT YOU</strong></p>
                                </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height" style="background-image: url(../assets/images/mbr-2000x1333.jpg);">
                    <div class="mbr-box__magnet mbr-box__magnet--center-right mbr-box__magnet--sm-padding" data-target="#slider-72" id="slider-72">
                                            
                        <div class=" container">
                            
                            <div class="row">
                                <div class=" col-md-6 col-md-offset-5">  

                                <div class="mbr-hero">
                                    <h1 class="mbr-hero__text"></h1>

                                    <p class="mbr-hero__subtext"><strong>WHAT'S YOUR MIND<br></strong><strong><br>BELIEVES </strong><br><strong>&nbsp; &nbsp; &nbsp; </strong><br><strong>YES YOU CAN&nbsp;DO IT</strong><br><strong><br></strong><br><strong><br></strong><br><strong><br></strong><br><strong><br></strong></p>
                                </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height" style="background-image: url(../assets/images/mbr-2000x1330.jpg);">
                  <div class="mbr-box__magnet mbr-box__magnet--center-left mbr-box__magnet--sm-padding" data-target="#slider-73" id="slider-73">
                    <div class="mbr-overlay" style="opacity: 0.2;"></div>                        
                        <div class=" container">
                            
                            <div class="row">
                                <div class=" col-md-6 col-md-offset-1">  

                                <div class="mbr-hero">
                                    <h1 class="mbr-hero__text"><span style="font-weight: normal;">MAKE IT HAPPEN!</span><br><span style="font-weight: normal;">WINNING IS EASIER</span><br><span style="font-weight: normal;">THAN YOU THINK</span><br><span style="font-weight: normal;"><br></span><br><span style="font-weight: normal;"><br></span><span style="font-weight: normal;"><br></span></h1>

                                    <p class="mbr-hero__subtext"></p>
                                </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#slider-7">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#slider-7">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>   -->
        </div>
    </div>
    <!--<my-app></my-app>-->
</section>



<!--- LOGIN -->


